<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Web Semantique</title>
    <link rel="stylesheet" href="../vendor/leaflet/bmatznerleaflet/css/leaflet.css" />
    <link href="../vendor/leaflet/leaflet-control-geocoders-master/Control.Geocoder.css" rel="stylesheet">
    <link href="../vendor/leaflet/leaflet.fullscreen-master/Control.FullScreen.css" rel="stylesheet">
    <link href="../vendor/leaflet/Leaflet.loading-master/src/Control.Loading.css" rel="stylesheet">
    <link href="../vendor/leaflet/leaflet-locatecontrol-gh-pages/dist/L.Control.Locate.css" rel="stylesheet">
    <link href="../vendor/leaflet/Leaflet.markercluster-0.5.0/dist/MarkerCluster.css" rel="stylesheet">
    <link href="../vendor/leaflet/Leaflet.markercluster-0.5.0/dist/MarkerCluster.Default.css" rel="stylesheet">
</head>

<body>
   
	<div id="map" style="height: 600px; width:100%"></div>
    
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/leaflet/bmatznerleaflet/js/leaflet.min.js"></script>
    <script src="../vendor/leaflet/leaflet-control-geocoders-master/Control.Geocoder.js"></script>
    <script src="../vendor/leaflet/leaflet-control-geocoders-master/geocoders/Control.Geocoder.Nominatim.js"></script>
    <script src="../vendor/leaflet/leaflet.fullscreen-master/Control.FullScreen.js"></script>
    <script src="../vendor/leaflet/Leaflet.loading-master/src/Control.Loading.js"></script>
    <script src="../vendor/leaflet/leaflet-locatecontrol-gh-pages/dist/L.Control.Locate.min.js"></script>
    <script src="../vendor/leaflet/Leaflet.markercluster-0.5.0/dist/leaflet.markercluster-src.js"></script>
    <script src="../vendor/leaflet/Leaflet.PolylineDecorator-leaflet-0.7.2/leaflet.polylineDecorator.js"></script>
    <script src="../vendor/carte.js"></script>

</body>
</html>